:root {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
    color: rgba(43,43,43);
}

html {
    scroll-behavior: smooth;
}

.nav-bar {
    margin-left: 0;
    margin-top: 0;
}

.nav-bar-ul {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row;
    background-color: rgba(23,23,23);
    height: 7vh;
    width: 100vw;
    font-size: 2rem;
}

.nav-bar-items {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 12vw;
}

.nav-bar-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
    opacity: 0.8;
}

.nav-bar-link:hover {
    opacity: 1;
    font-weight: bolder;
}

@media (max-width: 800px) {
    .nav-bar-ul {
        font-size: 1.3rem;
        height: 5vh;
    }

    .nav-bar-items {
        margin-left: 0;
    }
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1fr;
    height: 100vh;
}

#welcome-section h1 {
    font-size: 10rem;
    margin-top: 0;
    margin-bottom: 0;
}

body hr {
    margin-bottom: 0;
    margin-top: 0;
    color: black;
}

#welcome-section h2 {
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    font-size: 5rem;
}

.title {
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

#profile-link {
    text-decoration: none;
    margin-bottom: 0;
    color: inherit;
}

#profile-link:hover {
    opacity: 0.8;
}

.description {
    font-size: 1.2rem;
    margin-top: 0;
    max-width: 40vw;
    margin-bottom: 2rem;
}

.project-image {
    height: 10vh;
    align-self: center;
}

@media (max-width: 600px) {
    #welcome-section h1 {
        font-size: 6rem;
    }

    .description {
        max-width: 80vw;
        align-self: center;
    }

    .head {
        align-self: center;
        font-size: 3rem;
    }

    #contact .contacts {
        font-size: 1.7rem;
        max-width: 90vw;
    }
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    margin-bottom: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project {
    display: flex;
    text-align: center;
    flex-direction: column;
}